*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    line-height:1.6;
}

header{
    background:#111827;
    padding:20px;
    text-align:center;
}

header h1{
    color:#3b82f6;
    margin-bottom:15px;
}

nav ul{
    display:flex;
    justify-content:center;
    list-style:none;
    gap:20px;
    flex-wrap:wrap;
}

nav a{
    text-decoration:none;
    color:white;
    background:#2563eb;
    padding:10px 15px;
    border-radius:8px;
}

nav a:hover{
    background:#1d4ed8;
}

.hero{
    text-align:center;
    padding:30px;
}

.hero img{
    width:100%;
    max-width:900px;
    border-radius:15px;
    margin-bottom:20px;
}

.hero h2{
    color:#60a5fa;
    margin-bottom:15px;
}

section{
    padding:30px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background:#2563eb;
}

th, td{
    border:1px solid #475569;
    padding:12px;
    text-align:left;
}

tr:nth-child(even){
    background:#1e293b;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
    margin-top:30px;
}

/* RESPONSIVE */

@media(max-width:768px){

    nav ul{
        flex-direction:column;
        align-items:center;
    }

    .hero{
        padding:15px;
    }

    table{
        font-size:14px;
    }
}